#imagem { width: 100%;}

body{
    background-color: white;
    text-align: center;
}
h1 {
    color: ##9D0208;
    font-family: ;
    text-align: center;
}
p { font-size:30px;
    color: ;
    text-align: center;
    font-family: initial;
}
img  
